.song-info h3{
      border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding: 0.3em 0.5em;
    margin-left: 3em;
    margin-top: 20px;
}
.song-info h3 span {
	text-transform: none;
}
table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	text-decoration: none;
}
th {
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid;
	background: lightgray;
}
td {
	padding: 10px;
	border: 1px solid;
}