.status {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    background: black;
    color: white;
    text-align-last: center;
}
.button {
	border-radius: 3px;
	text-transform: uppercase;
	outline: none;
    font-style: normal;
    padding: 16px 42px;
    background: #ff8d1b;
    font-size: 24px;
    color: #fff;
    display: block;
    border: none;
    transition: .5s all;
    margin-top: 10px;
    width: 100%;
}
.button:hover{
    text-decoration: none;
    color: #fff;
    background:#222;
}
.details h4 {
	padding: 10px;
}
.details h3 {
	font-size: 30px;
}
.details h3 span {
	color: #ff6600;
}
.details form input[name="quantity"], .details form input[name="date"] {
	padding: 3px;
	text-align: center;
	margin: 5% auto;
	border: 1px solid gray;
	border-radius: 10px;
	font-size: 20px;
	width: 60px;
}
.details form input[name="date"] {
    width: 80%;
    margin: 2% auto 5% auto;
}
.single-right {
	padding-top: 300px;
	float: left;
	margin-left: 8%;
	margin-top: 100px;
    padding: 0 0 1em;
}
	.song-info {
    padding-left: 0;
    padding: 0 0 1em;
}
.song-info h3{
      border-left: 5px solid #ff8d1b;
    font-size: 2em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding: 0.3em 0.5em;
    margin-left: 3em;
    margin-top: 20px;
}
.single-container {
	width: 65%;
	float: left;
	padding: 10px 0 0 0;
}

#video {
  position: relative;
  background: #000;
     width: 100%;
    margin: 20px auto;
}
#video img{
	width: 741px;
}